.container {
    position: relative;
}

.containerMain {
    position: relative;
    display: inline-block;
}

.menuItemContainer {
    padding: 0;
    vertical-align: text-top;
    display: flex;
    padding: 8px 0;
    width: fit-content;
}

.menuItemContainer:hover {
    opacity: .7;
    cursor: pointer;
}

.menuItem {
    background: linear-gradient(to right, rgba(51, 51, 97, .8) 0%,rgba(51, 51, 97, .5) 100%);
    padding: 5px 20px 5px 10px;
    height: 40px;
    line-height: 30px;
    vertical-align: middle;
    color: white;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.1em;
}

.menuItemContainer:after {
    content: '';
    border-top: 40px solid rgba(51, 51, 97, .5);
    border-right: 40px solid transparent;
    height: 0;
    width: 0px;
}

@media (max-width: 640px) {
    .menuItemContainer {
        padding: 4px 0;       
    }

    .menuItem {
      padding: 3px 12px 3px 6px;
      height: 28px;
      line-height: 22px;
      font-size: 14px;
    }

    .menuItemContainer:after {
        content: '';
        border-top: 28px solid rgba(51, 51, 97, .5);
        border-right: 28px solid transparent;
    }
  }

.popupContainer {
    background: rgba(255, 255, 255, .8);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color:  #343462;
    font-weight: 600;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 100%;
    width: max-content;
    visibility: hidden;
}

.popupContainer .visible {
    visibility: visible;
    background: red;
}

h4 {
    padding: 10px;
    margin: 0;
}