.container {
    width: 80%;
    height: 70%;
    margin: 0 auto;
    background: url('../../assets/img/brain.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 4%;
    color: #343462;
    font-weight: 800;
    font-family: sans-serif;  
    font-size: 80px;
    text-transform: uppercase;
    text-shadow: 2px 2px #a7c7dc, 3px 3px #858585;
    text-align: center;
}

@media (max-width: 640px) {
    h1 {
      font-size: 40px;
    }
  }