.cardField {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    height: 70%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}