.timer {
    color: #343462;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    top: 3%;
    left: 3%;
    padding: 5px;;
}

.timeIsOver {
    color: #8B0000;
    font-size: 30px;
    margin: 0 auto;
}