.popupContainer {
    background: rgba(255, 255, 255, .8);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color:  #343462;
    font-weight: 600;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 100%;
    width: max-content;
    z-index: 1;
}

h4 {
    padding: 10px;
    margin: 0;
}

.playerName {
font-weight: 600;
color: grey;
margin: 0 auto;
}

.resultContainer {
    display: flex;
    justify-content: space-around;
}

img {
    max-height: 60px;
    max-width: 45px;
}

.cardShirt {
    background: white;
    height: 60px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}